// --------------------------------------------------------

.helppress__search-form {
	display: flex;
	align-items: center;
}

.helppress__search-label {
	flex-grow: 1;
	margin: 0;
}

.helppress__search-input {
	width: 95% !important;
}

.helppress__search-suggestions {
	.autocomplete-suggestions {
		padding: .5em;
		background: white;
		box-shadow: 0 .25em 2em rgba(black, .15);
		overflow: auto;
	}

	.autocomplete-suggestion {
		padding: .5em;
		font-size: .85em;
		cursor: pointer;

		&:hover {
			color: blue;
		}
	}

	.autocomplete-suggestion + .autocomplete-suggestion {
		border-top: solid 1px rgba(black, .15);
	}
}


// --------------------------------------------------------

.helppress__kb--2,
.helppress__kb--3 {
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	.helppress__cat {
		flex-grow: 0;
		flex-shrink: 0;
	}
}

.helppress__kb--2 .helppress__cat {
	flex-basis: 47.5%;
}

.helppress__kb--3 .helppress__cat {
	flex-basis: 30%;
}

.helppress__cat {
	margin-top: 2em;
}

// --------------------------------------------------------
