.helppress__kb--2,
.helppress__kb--3 {
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	.helppress__cat {
		flex-grow: 0;
		flex-shrink: 0;
	}
}

.helppress__kb--2 .helppress__cat {
	flex-basis: 47.5%;
}

.helppress__kb--3 .helppress__cat {
	flex-basis: 30%;
}

.helppress__cat {
	margin-top: 2em;
}
