.hpkb__breadcrumb {
	list-style-type: none;
	font-size: .85em;
	margin-left: 0;
	padding-left: 0;
}

.hpkb__breadcrumb-crumb {
	display: inline-block;

	&:not(:first-child)::before {
		content: '/';
	}
}
