.helppress-archive__cat {
	margin-top: 2.5em;
}

.helppress-archive__cat-title {
	margin: 0;
	padding: 0;
}

.helppress-archive__cat-count {
	opacity: .5;
}

.helppress-archive__cat-description {
	font-size: .9em;
}

.helppress-archive__more {
	margin: 0;
	padding: 0;
}

@media screen and (min-width: 600px) {
	.helppress-archive--2-col,
	.helppress-archive--3-col {
		display: flex;
		flex: 0 1 auto;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

		.helppress-archive__cat {
			flex-grow: 0;
			flex-shrink: 0;
		}
	}

	.helppress-archive--2-col .helppress-archive__cat,
	.helppress-archive--3-col .helppress-archive__cat {
		flex-basis: 47.5%;

		&:nth-child(-n+2) {
			margin-top: 0;
		}
	}
}

@media screen and (min-width: 900px) {
	.helppress-archive--3-col .helppress-archive__cat {
		flex-basis: 30%;

		&:nth-child(-n+3) {
			margin-top: 0;
		}
	}
}
