.helppress-breadcrumb {
	list-style-type: none;
	font-size: .9em;
	margin-left: 0;
	padding-left: 0;
}

.helppress-breadcrumb__crumb {
	display: inline-block;

	&:not(:first-child)::before {
		content: attr(data-sep);
	}
}
