.helppress-article-item {
	&::before {
		content: '';
		display: block;
		height: 1px;
		margin: 1.5em 0;
		background: currentColor;
		opacity: .15;
	}

	&:first-child::before {
		margin-top: 0;
	}
}
