.helppress-breadcrumb {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: .9em;
	word-wrap: break-word;
}

.helppress-breadcrumb__crumb {
	display: inline;
	margin: 0;
	padding: 0;
	list-style-type: none;

	&:not(:first-child)::before {
		content: attr(data-sep);
		margin: 0 .25em;
	}
}
