.helppress-search__form {
	display: flex;
	align-items: center;
}

.helppress-search__label {
	flex-grow: 1;
	margin: 0;
}

.helppress-search__input {
	margin: 0;
	width: 98% !important;
}

.helppress-search__suggestions {
	color: #888;
	font-size: .9em;

	.autocomplete-suggestions {
		box-sizing: border-box;
		margin-top: 2px;
		padding: .5em;
		background: white;
		box-shadow: 0 1px 3px rgba(black, .15), 0 5px 15px rgba(black, .05);
		overflow: auto;
	}

	.autocomplete-suggestion {
		padding: .5em;
		cursor: pointer;

		&:hover {
			color: #666;
			background: #f9f9f9;

			strong {
				color: #444;
			}
		}

		+ .autocomplete-suggestion {
			border-top: solid 1px #e9e9e9;
		}
	}

	strong {
		color: #666;
	}
}

.helppress-search__submit {
	margin: 0;
	min-width: 10%;
}
