.hpkb-article-item {
	padding: 1em 0;
	border-top: solid 1px rgba(black, .15);
}

.hpkb-article-item__title {
	font-size: inherit;
	margin-bottom: 0;
	padding-bottom: 0;
}

.hpkb-article-item__excerpt {
	margin-top: .5em;

	p {
		margin: 0;
		padding: 0;
	}
}
