.hpkb-article-item {
	padding: 2em 0;
	border-top: solid 1px rgba(black, .15);
}

.hpkb-article-item__title {
	margin: 0;
	padding: 0;
}

.hpkb-article-item__excerpt {
	margin-top: .5em;

	p {
		margin: 0;
		padding: 0;
	}
}
