.hpkb-article-list {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}

.hpkb-article-list__item {
	padding: .5em 0;
	border-top: solid 1px rgba(black, .15);

	.hpkb-icon {
		margin-right: .25em;
	}
}
