.hpkb-breadcrumb {
	list-style-type: none;
	font-size: .85em;
	margin-left: 0;
	padding-left: 0;
}

.hpkb-breadcrumb__crumb {
	display: inline-block;

	&:not(:first-child)::before {
		content: attr(data-sep);
	}
}
