.helppress-archive--2-col, .helppress-archive--3-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
        flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.helppress-archive--2-col .helppress-archive__cat,
.helppress-archive--3-col .helppress-archive__cat {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.helppress-archive--2-col .helppress-archive__cat {
    -ms-flex-preferred-size: 47.5%;
    flex-basis: 47.5%;
}

.helppress-archive--3-col .helppress-archive__cat {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
}

.helppress-article-item::before {
    content: '';
    display: block;
    height: 1px;
    margin: 2em 0;
    background: currentColor;
    opacity: .15;
}

.helppress-article-item:first-child::before {
    margin-top: 0;
}

.helppress-article-list {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}

.helppress-article-list__item::before {
    content: '';
    display: block;
    height: 1px;
    margin: .5em 0;
    background: currentColor;
    opacity: .15;
}

.helppress-article-list__item:first-child::before {
    margin-top: 0;
}

.helppress-article-list__item .helppress-icon {
    margin-right: .25em;
}

.helppress-breadcrumb {
    list-style-type: none;
    font-size: .9em;
    margin-left: 0;
    padding-left: 0;
}

.helppress-breadcrumb__crumb {
    display: inline-block;
}

.helppress-breadcrumb__crumb:not(:first-child)::before {
    content: attr(data-sep);
}

.helppress-content > * + * {
    margin-top: 2em;
}

.helppress-genericon {
    position: relative;
    top: -.1em;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
}

.helppress-post-nav {
    margin: 2em 0;
    text-align: center;
}

.helppress-search__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.helppress-search__label {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0;
}

.helppress-search__input {
    width: 98% !important;
}

.helppress-search__suggestions {
    color: #333;
}

.helppress-search__suggestions .autocomplete-suggestions {
    padding: .5em;
    background: white;
    -webkit-box-shadow: 0 .25em 2em rgba(0, 0, 0, .15);
            box-shadow: 0 .25em 2em rgba(0, 0, 0, .15);
    overflow: auto;
}

.helppress-search__suggestions .autocomplete-suggestion {
    padding: .5em;
    font-size: .9em;
    cursor: pointer;
}

.helppress-search__suggestions .autocomplete-suggestion:not(:hover) {
    opacity: .75;
}

.helppress-search__suggestions .autocomplete-suggestion + .autocomplete-suggestion {
    border-top: solid 1px rgba(0, 0, 0, .15);
}
